{% extends 'notifications/answers/pdf/base.html' %}
{% load core notifications %}
{% block answer_title %}Reply to the message of {{ notification.timestamp|date:'d.m.Y' }}<br/>Protocol (Amendment){% endblock %}

{% block study_info %}
    {{ block.super }}
    <h4>List of changes</h4>
    {% with notification.amendmentnotification as notification %}
        <div class="diff">
            {{ notification|diff:1|safe }}
        </div>
    {% endwith %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% db_setting 'display_biased_in_amendment_answer_pdf' as display_biased %}
    {% if notification.amendmentnotification.is_substantial and display_biased %}
        <p>
            {% db_setting 'member_list_url' as url %}
            The current list of members of the Ethics Committee is available at the following address:<br>
            <a href="{{ url }}">{{ url }}</a>
        </p>

        <p>
            Members of the Ethics Committee responsible for this agenda item
            were to be regarded as biased and were therefore excluded from the
            Decision-making/voting:
            {% for bef in notification.get_submission.biased_board_members.all %}
                {{ bef }}{% if not forloop.last %},{% endif %}
            {% empty %}
                <strong>None</strong>
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}
