{% extends 'notifications/answers/pdf/base.html' %}
{% load notifications %}
{% block answer_title %}Reply to the message of {{ notification.timestamp|date:'d.m.Y' }}<br/>Closure of the centre{% endblock %}

{% block study_info %}
    {{ block.super }}
    <h4>Information about the Centre</h4>
    {% with investigator=notification.centerclosenotification.investigator %}
        <p>
            <b>Test Center:</b> {{ investigator.organisation }}<br />
            <b>Ethics Committee:</b> {{ investigator.ethics_commission.name }}<br />
            <b>Investigator:</b> {{ investigator.contact }}<br />
        </p>
    {% endwith %}
{% endblock %}
