{% extends 'public.html' %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-danger">
        <p>You have already registered your email address {{ existing_user.email }}.</p>
        <p><a href="{% url 'users:login' %}" class="alert-link">Go to login ..</a></p>
        <p>If you have forgotten your password or have not yet set one, you can assign a new password <a href="{% url 'users:request_password_reset' %}" class="alert-link"></a>.</p>
    </div>

{% endblock %}
