{% load core i18n %}
<html>
<body>
<p>
    We have received a request that you want to reset your password.<br />
    <br />
    If you do not want to change your password, please ignore this email.<br />
    <br />
    To set a new password, click on the following link:<br />
    <br />
    <a href=</a>"{{ reset_url }}">{{ reset_url }}<br />
    <br />
    The link is valid for one hour and can no longer be used after that.<br />
<br />
<br />
{% db_setting 'signature_block' as signature_block %}
{{ signature_block|linebreaksbr }}
</p>
</body>
</html>
