{% load core corepdf %}

<p>
    Studies short title: <span class="value">{{ submission_form.project_title }}</span>
</p>

<p>
    Responsible Ethics Committee: <span class="value">{{ submission_form.main_ethics_commission }}</span>
</p>

<h3>10. Information about the examiner/to the examiner</h3>


<p>
    10.1 Name: <span class="value">{{ inv.contact }}</span>
</p>

<p class="pbi_avoid"> 10.2
Hospital/Institute/Department: <strong> {{ inv.organisation }} </strong></p>


<table class="full_width withborders">
    <thead>
        <tr>
            <th style="width: 20%;">10.3 Telefon</th>
            <th style="width: 20%;">10.4 „Beep“/Mobile</th>
            <th style="width: 20%;">10.5 Fax</th>
            <th style="width: 40%;">10.6 e-mail-Adresse:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ inv.phone|default:'-' }}</td>
            <td>{{ inv.mobile|default:'-' }}</td>
            <td>{{ inv.fax|default:'-' }}</td>
            <td>{{ inv.email }}</td>
        </tr>
    </tbody>
</table>


<p class="pbi_avoid">
    10.7 Jus practicandi:{{ inv.jus_practicandi|yesno_checkboxes }}
    10.8 Specialist in: <span class="value">{{ inv.specialist }}</span>
</p>

<p class="pbi_avoid">
 10.9 Investigator Course: {{ inv.certified|checkbox }} yes {{ inv.certified|not|checkbox }} no </p>

    <h3 class="inline">11. Planned number of patients or subjects <span class="underline">at this test site:</span></h3>

    <span class="value inline">
        {{ inv.subject_count }}
    </span>

    <h3>12. Responsible staff members for the clinical trial <span style="font-weight:normal">(at your testing site)</span></h3>


<table class="full_width withborders">
    <thead>
        <tr>
            <th style="width: 8%;">Fr/Hr</th>
            <th style="width: 15%;">Title</th>
            <th style="width: 21%;">forename</th>
            <th style="width: 21%;">Name</th>
            <th style="width: 35%;">Institution</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in inv.employees.all %}
            <tr>
                <td>{{ emp.get_sex_display }}</td>
                <td>{{ emp.title }}</td>
                <td>{{ emp.firstname }}</td>
                <td>{{ emp.surname }}</td>
                <td>{{ emp.organisation }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <h3>13. Signature of the examiner</h3>

<p> I hereby confirm that the
    the information provided is correct and that I am of the opinion that
    conducting the study in accordance with the protocol,
    national regulations and with the principles of Good Clinical Practice.
    will be possible in practice. </p>

<div class="signature_date">
  <span class="line">Signature of the examiner</span>
  <span class="line">Date</span>
</div>

<br>

<p><em>In multicenter AMG studies
    Parts B have been approved by the Principal Investigator of the
    to sign the respective centre.</em></p>

<p><em>As an alternative to signing on
    Part B, the signatures of the principal examiners may also be
    on the signature pages of the Protocol or the
    investigator contracts. In any case, there must be a
    unambiguous - documented by signature -
    Approval of the minutes by all principal examiners.</em></p>

    <h3>14. Name and signature of the head of the facility or nursing service</span></h3>
<p class="pbi_avoid"> 14.1 Name:</p>

<div class="signature_date">
  <span class="line">Signature of the leader</span>
  <span class="line">Date</span>
</div>

<br>

<p><em>*The signature of the head of the nursing service is required for
    Nursing research projects and the application of new nursing concepts and methods
    required, otherwise the signature of the head of the
    respective institution
<span style="text-decoration:underline;">Furnishings</span>: the clinic (if)
(the clinical department), the department or the joint institution
</em></p>
