{% load core corepdf %}

<p>6.1. What measures or treatments are <b>exclusively study-related</b>? </p>

<center>
<table class="full_width withborders">
    <thead>
        <tr>
            <th style="width: 30%;">Type</th>
            <th style="width: 30%;">Number/Dose</th>
            <th style="width: 25%;">Period</th>
            <th style="width: 15%;">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for m in submission_form.measures_study_specific %}
            <tr>
                <td>{{ m.type }}</td>
                <td>{{ m.count }}</td>
                <td>{{ m.period }}</td>
                <td>{{ m.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</center>

<p>6.2. What special examinations (<strong>only invasive and radiation-exposing</strong>) are conducted <strong>for routine purposes</strong> during the study period: </p>

<table class="full_width withborders">
    <thead>
        <tr>
            <th style="width: 30%;">Type</th>
            <th style="width: 30%;">Number/Dose</th>
            <th style="width: 25%;">Period</th>
            <th style="width: 15%;">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for m in submission_form.measures_nonspecific %}
            <tr>
                <td>{{ m.type }}</td>
                <td>{{ m.count }}</td>
                <td>{{ m.period }}</td>
                <td>{{ m.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>6.3. Additional information on study-related measures and any necessary deviations from routine treatment: </p>

<div class="value">
    {{ submission_form.additional_therapy_info|default_if_none:""|linebreaksbr }}
</div>
