{% load core corepdf %}

{% if submission_form.is_amg %}

<p class="pbi_avoid">
3.1 Registration in other states? {{ submission_form.substance_registered_in_countries|yesno_checkboxes }}.
If <strong>yes</strong>, please specify in which states: </p>

<p class="pbi_avoid">
<strong>  {{ submission_form.get_substance_registered_in_countries_display }}  </strong> </p>

<p>
3.2 Are there already meaningful results from clinical trials for the medicinal product to be tested? 
{{ submission_form.substance_preexisting_clinical_tries|yesno_checkboxes }}</p>

<p> If <strong>yes</strong>, please provide the following data:
</p>

<p class="pbi_avoid">3.2.1 In which countries were the trials conducted: <strong> {{ submission_form.get_substance_p_c_t_countries_display }} </strong> </p>

<p>
 3.2.2 Phase: <strong> {{ submission_form.substance_p_c_t_phase }} </strong> (If studies are conducted in multiple phases,
indicate the highest phase) </p>

<p>
 3.2.3 Period: <strong> {{ submission_form.substance_p_c_t_period|default_if_none:""|linebreaksbr }}  </strong> </p>

<p>
 3.2.4 Type(s) of application: <strong>  {{ submission_form.substance_p_c_t_application_type }}  </strong> </p>

<p>
3.2.5 Were the clinical trial(s) conducted in accordance with GCP guidelines? 
{{ submission_form.substance_p_c_t_gcp_rules|yesno_checkboxes }}</p>

<p>
 3.2.6 Is there a final report? 
{{ submission_form.substance_p_c_t_final_report|yesno_checkboxes }}</p>

<p>
 If <strong>yes</strong>, please submit the <strong>Investigator's Brochure, relevant data</strong>, or an
<strong>Opinion of the Medicines Advisory Board</strong>. </p>

{% else %}
<p><i>not applicable</i></p>
{% endif %}
