{% load core corepdf %}
<table class="full_width">
    <thead>
        <tr>
            <td style="width: 100%;">2.1 Type of project:</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>

            <p>
            {{ submission_form.project_type_non_reg_drug|checkbox }} 2.1.1 Clinical trial of an unregistered <strong>Medicinal product</strong>
            </p>

            <p>
            {{ submission_form.project_type_reg_drug|checkbox }} 2.1.2 Clinical trial of a registered <strong>Medicinal product</strong>
            </p>

            <div class="indented">
                {{ submission_form.project_type_reg_drug_within_indication|checkbox }} 2.1.2.1 according to the indication 
                {{ submission_form.project_type_reg_drug_not_within_indication|checkbox }} 2.1.2.2 not according to the indication
            </div>

            <p class="border_bottom">{{ submission_form.project_type_non_interventional_study|checkbox }} 2.1.16 <strong>Non-interventional study</strong> – only according to § 2a para. 3 AMG</p>

            <p>{{ submission_form.project_type_medical_method|checkbox }} 2.1.3 Clinical trial of a new <strong>medical method</strong></p>

            <p>{{ submission_form.project_type_medical_device|checkbox }} 2.1.4 Clinical trial of a <strong>Medical Device</strong></p>

            <div class="indented border_bottom">
                {{ submission_form.project_type_medical_device_with_ce|checkbox }} 2.1.4.1 with CE marking
                {{ submission_form.project_type_medical_device_without_ce|checkbox }} 2.1.4.2 without CE marking
                <br/>
                {{ submission_form.project_type_medical_device_performance_evaluation|checkbox }} 2.1.4.3 Performance evaluation testing (in vitro diagnostic medical devices)
            </div>

            <p class="border_bottom">{{ submission_form.project_type_basic_research|checkbox }} 2.1.5 <strong>Non-therapeutic biomedical</strong> research in humans (basic research)</p>

            <p>{{ submission_form.project_type_genetic_study|checkbox }} 2.1.6 <strong>Genetic testing</strong></p>

            <p>{{ submission_form.project_type_register|checkbox }} 2.1.10 <strong>Register</strong></p>

            <p>{{ submission_form.project_type_biobank|checkbox }} 2.1.11 <strong>Biobank</strong></p>

            <p class="border_bottom">{{ submission_form.project_type_retrospective|checkbox }} 2.1.12 <strong>Retrospective data analysis</strong></p>

            <p class="border_bottom">{{ submission_form.project_type_questionnaire|checkbox }} 2.1.13 <strong>Questionnaire Investigation</strong></p>

            <p class="border_bottom">{{ submission_form.project_type_psychological_study|checkbox }} 2.1.14 <strong>Psychological study</strong></p>

            <p class="border_bottom">{{ submission_form.project_type_nursing_study|checkbox }} 2.1.15 <strong>Nursing Science Study</strong></p>

            <p class="border_bottom">{{ submission_form.project_type_gender_medicine|checkbox }} 2.1.17 <strong>Gender Medicine</strong></p>

            <p class="border_bottom">{{ submission_form.project_type_misc|checkbox }} 2.1.7 <strong>Other</strong>(e.g. dietetics, epidemiology, etc.), please
            specify:</p>
            <p class="value">{{ submission_form.project_type_misc|default_if_none:""|linebreaksbr }}</p>

            <p class="border_bottom"><strong>Additional information:</strong> 
            {{ submission_form.project_type_education_context_phd|checkbox }} 2.1.8 <strong>Thesis</strong>
            {{ submission_form.project_type_education_context_master|checkbox }} 2.1.9 <strong>Thesis</strong></p>

            </td>
        </tr>
    </tbody>
</table>
