{% load core corepdf %}

<p>8.1 Study Design (e.g., double-blind, randomized, controlled, Placebo, parallel groups, multicentric)</p>
<table class="full_width nopadding border_bottom">
    <tbody>
        <tr>
            <td style="width: 27.7%;">{{ submission_form.study_plan_open|checkbox }} 8.1.1 open </td>
            <td style="width: 22.2%;">{{ submission_form.study_plan_randomized|checkbox }} 8.1.2 randomized </td>
            <td style="width: 25.8%;">{{ submission_form.study_plan_parallelgroups|checkbox }} 8.1.3 parallel groups </td>
            <td style="width: 24.3%;">{{ submission_form.is_monocentric|checkbox }} 8.1.4 monocentric </td>
        </tr>
        <tr>
            <td>{{ submission_form.study_plan_single_blind|checkbox }} 8.1.5 blind </td>
            <td>{{ submission_form.study_plan_controlled|checkbox }} 8.1.6 controlled </td>
            <td>{{ submission_form.study_plan_cross_over|checkbox }} 8.1.7 cross-over </td>
            <td>{{ submission_form.is_multicentric|checkbox }} 8.1.8 multicentric </td>
        </tr>
        <tr>
            <td>{{ submission_form.study_plan_double_blind|checkbox }} 8.1.9 double-blind </td>
            <td>{{ submission_form.study_plan_placebo|checkbox }} 8.1.10 Placebo </td>
            <td>{{ submission_form.study_plan_factorized|checkbox }} 8.1.11 factorial </td>
            <td>{{ submission_form.study_plan_pilot_project|checkbox }} 8.1.12 pilot project</td>
        </tr>
        <tr>
            <td>{{ submission_form.study_plan_observer_blinded|checkbox }} 8.1.13 observer-blinded </td>
            <td colspan="3">{{ submission_form.study_plan_equivalence_testing|checkbox }} 8.1.14 equivalence testing</td>
        </tr>
        <tr>
            <td colspan="4">{{ submission_form.study_plan_misc|checkbox }} 8.1.15 Miscellaneous: {{ submission_form.study_plan_misc|default_if_none:""|linebreaksbr }} </td>
        </tr>
    </tbody>
</table>

<p class="pbi_avoid">
 8.1.16 Number of Groups: <strong> {{ submission_form.study_plan_number_of_groups|default_if_none:""|linebreaksbr }} </strong> </p>

<p class="pbi_avoid">
 8.1.17 Stratification (Criteria): <strong> {{ submission_form.study_plan_stratification|default_if_none:""|linebreaksbr }} </strong> </p>

<p class="pbi_avoid">
 8.1.18 Measurement Repetitions (Time Points): <strong> {{ submission_form.study_plan_sample_frequency|default_if_none:""|linebreaksbr }} </strong> </p>

<p class="pbi_avoid">
 8.1.19 Primary Endpoint: <strong> {{ submission_form.study_plan_primary_objectives|default_if_none:""|linebreaksbr }}  </strong> </p>

<p class="pbi_avoid">
 8.1.20 Null Hypothesis(es): <strong> {{ submission_form.study_plan_null_hypothesis|default_if_none:""|linebreaksbr }}</strong> </p>

<p class="pbi_avoid">
 8.1.21 Alternative Hypothesis(es): <strong> {{ submission_form.study_plan_alternative_hypothesis|default_if_none:""|linebreaksbr }}</strong> </p>

<p class="pbi_avoid border_bottom">
 8.1.22 Secondary Endpoints: <strong> {{ submission_form.study_plan_secondary_objectives|default_if_none:""|linebreaksbr }} </strong> </p>

<p>8.2 Study Planning </p>

<p class="pbi_avoid">
The sample size calculation is based on (Alpha = Type 1 Error, Power = 1 – Beta = 1 –
Type 2 Error): </p>

<p class="pbi_avoid">
8.2.1 Alpha:  <strong> {{ submission_form.study_plan_alpha|default_if_none:"" }} </strong> 
    {{ submission_form.study_plan_alpha_double_sided|checkbox }} two-sided
    {{ submission_form.study_plan_alpha_single_sided|checkbox }} one-sided
8.2.2 Power: <strong> {{ submission_form.study_plan_power|default_if_none:"" }} </strong> 
8.2.3 Statistical Method: <strong>  {{ submission_form.study_plan_statalgorithm|default_if_none:"" }}</strong> </p>

<p class="pbi_avoid">
8.2.4 Multiple Testing: {{ submission_form.study_plan_multiple_test_correction_algorithm|not|checkbox }} no 
{{ submission_form.study_plan_multiple_test_correction_algorithm|checkbox }} yes:
Correction Method: <strong> {{ submission_form.study_plan_multiple_test_correction_algorithm|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid border_bottom">
 8.2.5 Expected Number of Study Dropouts
(Drop-out Ratio): <strong> {{ submission_form.study_plan_dropout_ratio|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid">
 8.3 Planned Statistical Analysis </p>

<p class="pbi_avoid">
 Population: {{ submission_form.study_plan_population_intention_to_treat|checkbox }} 8.3.1 Intention-to-treat 
{{ submission_form.study_plan_population_per_protocol|checkbox }} 8.3.2 Per Protocol </p>

<p class="pbi_avoid">
8.3.3 Interim Analysis: {{ submission_form.study_plan_abort_crit|not|checkbox }} no {{ submission_form.study_plan_abort_crit|checkbox }} yes: Criteria for Termination: <strong> {{ submission_form.study_plan_abort_crit|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid border_bottom">
 8.3.4 Planned Statistical Methods: 
 <strong> {{ submission_form.study_plan_planned_statalgorithm|default_if_none:""|linebreaksbr }}</strong> </p>

<p class="pbi_avoid">
 8.4 Documentation Sheets /
Data Management </p>

<p class="pbi_avoid">
8.4.1 Information on
Data Quality Checking </p>

<p class="pbi_avoid">
  <strong>{{ submission_form.study_plan_dataquality_checking|default_if_none:""|linebreaksbr }}</strong></p>

<p class="pbi_avoid">
8.4.2 Information on
Data Management </p>

<p class="pbi_avoid border_bottom">
 <strong>{{ submission_form.study_plan_datamanagement|default_if_none:""|linebreaksbr }}</strong></p>

<p class="pbi_avoid">
 8.5 Responsible Parties and
Qualifications </p>

<p class="pbi_avoid">
8.5.1 Who conducted the
biometric planning (if applicable, proof of
qualification)? </p>

<p class="pbi_avoid">
  <strong>{{ submission_form.study_plan_biometric_planning }}</strong></p>

<p class="pbi_avoid">
8.5.2 Who will conduct the
statistical analysis (if applicable, proof of
qualification)? </p>

<p class="pbi_avoid border_bottom">
  <strong>{{ submission_form.study_plan_statistics_implementation }}</strong></p>

<p>8.6 Data Protection </p>
<p>
 8.6.1 Data processing is done <br>
 {{ submission_form.study_plan_dataprotection_none|checkbox }} a) personally identifiable 
 {{ submission_form.study_plan_dataprotection_partial|checkbox }} b) indirectly personally identifiable
 {{ submission_form.study_plan_dataprotection_full|checkbox }} c) completely anonymized </p>

<table class="full_width nopadding">
    <tbody>
        <tr>
            <td style="width: 15%;">
                8.6.2 If a):
            </td>
            <td style="width: 85%;">
                Justification:<span class="value indented">{{ submission_form.study_plan_dataprotection_reason|default_if_none:"" }}</span>
                <br>
                DVR Number: <span class="value">{{ submission_form.study_plan_dataprotection_dvr|default_if_none:"" }}</span>
            </td>
        </tr>
    </tbody>
</table>

<p>
    8.6.3 If b) or c): How is anonymization done?
    <div class="value">
        {{ submission_form.study_plan_dataprotection_anonalgoritm|default_if_none:""|linebreaksbr }}
    </div>
</p>
