{% load core corepdf %}
{% include 'pdf/documents.html' %}
</center>

<h4>Name and Signature of the Applicant</h4>

<p class="pbi_avoid">
    9.1 Name: <strong> {{ submission_form.submitter_contact }} </strong>
</p>

<p class="pbi_avoid">
    9.2 Institution/ Company: <strong> {{ submission_form.submitter_organisation }} </strong>
</p>

<p class="pbi_avoid">
    9.3 Position: <strong> {{ submission_form.submitter_jobtitle }} </strong>
</p>

<table class="full_width nopadding">
    <tbody>
        <tr>
            <td style="width: 25%;">
                9.4 Applicant is:
                (only for AMG studies)
            </td>
            <td style="width: 75%;">
                {{ submission_form.submitter_is_coordinator|checkbox }} 9.4.1 coordinating Investigator (multicentric Study)
                <br>
                {{ submission_form.submitter_is_main_investigator|checkbox }} 9.4.2 Principal Investigator (monocentric Study)
                <br>
                {{ submission_form.submitter_is_sponsor|checkbox }} 9.4.3 Sponsor or Representative of the Sponsor
                <br>
                {{ submission_form.submitter_is_authorized_by_sponsor|checkbox }} 9.4.4 Person/Organization authorized by the Sponsor
            </td>
        </tr>
    </tbody>
</table>

<p> I hereby confirm that the information provided in this
application is correct and that I believe
that the study will be conducted in accordance with the
protocol, national regulations, and the principles of Good
Clinical Practice. </p>

<p>
    Furthermore, I agree with my signature that the following data from my application may be published by the
    Ethics Committee to make the applications transparent in terms of number and content:<br/>
    EC number, Submission date, Project title, Principal Investigator, Sponsor/CRO, other centers.<br/> 
</p>

<div class="signature_date">
  <span class="line">Signature of the Applicant</span>
  <span class="line">Date</span>
</div>

<div class="infotext">!!! Attention: This signature is required in any case !!!</div>
