```html
{% extends 'pdf/skeleton.html' %}
{% load core corepdf %}

{% block title %}Application Form{% endblock %}

{% block inline_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% include "submissions/pdf/head.html" %}

    <h2 class="main_part">Part A</h2>
    
    {% include "submissions/pdf/section_1.html" %}
    
    <div class="pb_after"></div>
    
    <h3>2. Key Data of the Study</h3>

    {% include "submissions/pdf/section_2_1.html" %}
    {% include "submissions/pdf/section_2_2-2_11.html" %}
    
    <div class="pb_after"></div>

    <h3>3a. Applies only to studies according to AMG: Information about the Investigational Medicinal Product (if not registered in Austria):</h3>
    
    {% include "submissions/pdf/section_3a.html" %}

    <h3>3b. Medications administered during the study, the efficacy and/or safety of which are not the subject of the investigation:</h3>

    {% include "submissions/pdf/section_3b.html" %}
    
    <h3>4. Applies only to studies according to MPG: Information about the Medical Device:</h3>

    {% include "submissions/pdf/section_4.html" %}
    
    <h3>5. Information about Insurance (according to §32 Abs.1 Z.11 and Z.12 and Abs.2 AMG; §§47 und 48 MPG)</h3>

    {% include "submissions/pdf/section_5.html" %}
    
    <h3>6. Information about the Therapy and Diagnostics to be conducted</h3>

    {% include "submissions/pdf/section_6.html" %}
    
    <div class="pb_after"></div>

    <h3>7.  Structured Summary of the Project <em>(in German language, no reference to the protocol)</em></h3>
    
    {% include "submissions/pdf/section_7.html" %}

    <div class="pb_after"></div>
        
    <h3>8. Biometry, Data Protection:</h3>

    {% include "submissions/pdf/section_8.html" %}

    <div class="pb_after"></div>
    
    <h3>9. List of Submitted Documents</h3>
    
    {% include "submissions/pdf/section_9.html" %}


{% for inv in submission_form.investigators.all %}
    <div class="pb_after"></div>

    <h2 class="main_part">Part B</h2>

    {% include "submissions/pdf/part_b.html" %}
{% endfor %}
{% endblock %}
```