{% load core i18n %}

<html>
    <head></head>
    <body>
        <p>
{% if invitation_text %}
    <pre>{{ invitation_text }}</pre>
    <br />
    To activate access and set your password, click <a href="{{ link }}">here</a>.
    <br />
{% else %}
    You have been identified as an interested person in an application to the {% ec_name%}.<br />
    <br />
    For this reason, access to the electronic submission and administration system (ECS) has been created for you.<br />
    <br />
    To activate access and set your password, click <a href="{{ link }}">here</a>.
    <br />
    <br />
    {% db_setting 'signature_block' as signature_block %}
    {{ signature_block|linebreaksbr }}
{% endif %}
        </p>
    </body>
</html>
