{% load core i18n meetingutils %}
<html>
<body>
{% block content %}
    <p>
{% if recipient.profile.gender == 'f' %}{% blocktrans with recipient as recipient %}Dear(f) {{ recipient }}{% endblocktrans %}{% else %}{% blocktrans with recipient as recipient %}Dear(m) {{ recipient }}{% endblocktrans %}{% endif %}<br />
<br />
<br />
Your presence for the meeting of the Ethics Committee at {{ meeting.start|date:'d.m.Y, H:i' }} s.t. is required.<br /><br />
Your estimated time window is from {{ start|date:'H:i' }}-{{ end|date:'H:i' }} AM.<br />
<br />
Please arrive at least half an hour early and expect that the time window may be exceeded.<br />
<br />
The expected end is {{ meeting.end|datetimeround:30|date:'d.m.Y, H:i' }} o'clock.<br />
<br />
Place of meeting:<br />
{% db_setting 'meeting_address' as address %}
{{ address|linebreaksbr }}<br />
<br />
Please be sure to confirm your participation (even if you have already registered at an earlier date).<br />
<br />
{% db_setting 'contact_email' as email %}
You can reply to this message using the reply function of your e-mail program, which can be sent to <a href="mailto:</a>{{ email }}">"{{ email }}".<br />
<br />
<br />
{% db_setting 'signature_block' as signature_block %}
{{ signature_block|linebreaksbr }}
    </p>
{% endblock %}
</body>
</html>
