{% extends 'pdf/skeleton.html' %}
{% load core userutils %}

{% block title %}{{ vote }}{% endblock %}

{% block content %}
{% include 'pdf/ec_head.html' %}

<h1 class="metadata">{{ vote }}</h1>
<center><p><b>
{% if vote.top %}
    Meeting of the Ethics Committee on {{ vote.top.meeting.start|date:'d.m.Y' }}, {{ vote.top }}:
{% else %}
    {% if vote.result == '1' or vote.result == '4' %}Vote{% else %}Message{% endif %}:
{% endif %}
</b></p></center>

<h2 class="metadata">Study</h2>
<p>
    <b>EK Nr:</b> <b>{{ vote.get_ec_number }}</b><br />
    {%if form.eudract_number %}
        <b>EudraCT Nr:</b> {{form.eudract_number}}<br />
    {% endif %}
    <b>Project title:</b> {{ submission.project_title_display }}<br />
    <b>Applicant:</b> {{ form.submitter }}<br />
    <b>Institution:</b> {{ form.submitter_organisation }}<br />
    <b>Sponsor:</b> {{ form.sponsor_name }}<br />
<p>

<h2 class="metadata">Centers</h2>
<p>
    Participating Trial Sites:
    <table class="full_width withborders">
        <thead>
            <tr>
                <th style="width: 33.33%;">Ethics Committee</th>
                <th style="width: 33.33%;">Trial Center</th>
                <th style="width: 33.33%;">Investigator</th>
            </tr>
        </thead>
        <tbody>
            {% for investigator in form.investigators.all %}
                <tr>
                    <td>{{ investigator.ethics_commission }}</td>
                    <td>{{ investigator.organisation }}</td>
                    <td>{{ investigator.contact.full_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4"><em>(no test center)</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</p>

<h2 class="metadata">Documente</h2>
<p>
    The opinion of the Ethics Committee is made on the basis of the following documents submitted:
    {% include 'pdf/documents.html' %}
</p>

<h2 class="metadata">Decision</h2>
<b>The Commission hereby adopts the following decision (marked with X):</b><br />

<table class="full_width withborders">
    <tbody>
        <tr>
            <td style="width: 5%;">
                <span class="checkbox">X</span>
            </td>
            <td style="width: 95%;">
                {% include 'votes/pdf/vote_result.html' with result=vote.result %}
            </td>
        </tr>
    </tbody>
</table> 

<h2 class="metadata">Supplementary Comments</h2>
{% if past_votes %}
    {% for vote in past_votes %}
        <b>Supplementary Comments {% if vote.top %} of the meeting on {{ vote.top.meeting.start|date:'d.m.Y' }}{% endif %}:</b><br>
        <p>{{ vote.text|linebreaksbr }}</p>
    {% endfor %}
{% endif %}

{% if vote.text %}
  <b>Supplementary Comments{% if vote.top %} of the meeting on {{ vote.top.meeting.start|date:'d.m.Y' }}{% endif %}:</b><br />
  <p>
    {{ vote.text|linebreaksbr }}
  </p>
{% endif %}


{% if submission.current_submission_form.is_amg %}
    {% if vote.result == '2' or vote.result == '3b' %}
        <p>"CLOCKSTOP": The period specified in §41a AMG is suspended from the day of the meeting until the information required in this notification has been received.</p>
    {% endif %}
{% endif %}

{% if submission.current_submission_form.is_amg or submission.current_submission_form.is_mpg %}
  <p>
    The Ethics Committee assumes - legally non-binding - that this is a clinical trial in accordance with {% if submission.current_submission_form.is_amg %}AMG{% endif %}{% if submission.current_submission_form.is_amg and submission.current_submission_form.is_mpg %}/{% endif %}{% if submission.current_submission_form.is_mpg %}MPG{% endif %} Is.
  </p>
{% endif %}

<p>
    {% db_setting 'member_list_url' as url %}
    The current list of members of the Ethics Committee is available at the following address:<br>
    <a href="{{ url }}">{{ url }}</a>
</p>

<p>
    Members of the Ethics Committee who were considered to be biased for this agenda item and therefore did not participate in the decision-making/vote according to the Rules of Procedure: {% for bef in submission.biased_board_members.all %}{{ bef }}{% if not forloop.last %}, {% endif %}{% empty %}<strong>none</strong>{% endfor %}
</p>

{% db_setting 'vote_pdf_extra' as extra %}
{% if extra %}<p>{{ extra }}</p>{% endif %}

<h2 class="metadata">Download</h2>
<p>
    This document is available in digital form for authorized users at the following address:<br>
    <a href="{{ ABSOLUTE_URL_PREFIX }}{% url 'votes:download_vote' vote_pk=vote.pk %}">{{ ABSOLUTE_URL_PREFIX }}{% url 'votes:download_vote' vote_pk=vote.pk %}</a>
</p>

{% if not vote.needs_signature and vote.published_by %}
    <p>Shared by: <b>{{ vote.published_by|full_name }}</b>.</p>
{% endif %}
{% endblock %}
