{% extends 'notifications/pdf/base.html' %}
{% load core corepdf notifications %}

{% block typeoptions %}<h1>1. Notification of an (Amendment) of {{ notification.timestamp|date:'d.m.Y'}}</h1>{% endblock %}

{% block doclist %}
    <li>List of changes</li>
    {{ block.super }}
{% endblock %}

{% block mainitem %}
    {{ block.super }}
    <h4>3.1 List of changes</h4>
    {% with notification.amendmentnotification as notification %}
        <div class="diff">
            {{ notification|diff:1|safe }}
        </div>
    {% endwith %}
{% endblock %}
