{% extends 'pdf/skeleton.html' %}
{% load core corepdf %}

{% block title %}Message{% endblock %}

{% block content %}
<div class="header withborder">
    <h1>{% block formtitle %}Message{% endblock %}</h1>
    <p class="center">{% block formname %}Form for the notification of amendments, SUSARs and other notifications to Austrian Ethics Committees.
    <span class="small">Version 5.1 from 25.08.2006</span>{% endblock %}</p>
</div>

<div class="two_columns">
    <div class="column_left">
      <span class="small">Address of the Ethics Committee (optional)</span><br>
    </div>
    <div class="column_right">
       <span class="small">Space for receipt stamp, purchase number, etc.</span>
    </div>
</div>

{% block submission_table %}
<table class="full_width withborders">
    <thead>
        <tr>
            <th style="width: 26%;">Ethics Committee</th>
            <th style="width: 13%;">EK-Nr</th>
            <th style="width: 13%;">Date of vote</th>
            <th style="width: 25%;">Coordinating Test Center</th>
            <th style="width: 23%;">Examiner</th>
        </tr>
    </thead>
    <tbody>
        {% for sf in notification.submission_forms.all %}
            <tr>
                <td>{{ sf.submission.main_ethics_commission }}</td>
                <td>{{ sf.submission|ec_number }}</a></td>
                <td>{{ sf.submission.current_published_vote.signed_at|date:'d.m.Y' }}</td>
                <td>{{ sf.submission.primary_investigator.organisation|default:'<i>nicht vorhanden</i>' }}</td>
                <td>{{ sf.submission.primary_investigator.user|default:'<i>nicht vorhanden</i>' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<p>{% block typeoptions %}{% endblock %}</p>

<h3>2. Details of the study</h3>
{% block submission_details %}
{% for sf in notification.submission_forms.all %}
    <table class="full_width">
        <tbody>
            <tr>
                <td style="width: 25%;">2.0 EK Nr:</td>
                <td class="value" style="width: 75%;">
                    {{ sf.submission|ec_number }}
                </td>
            </tr>
            <tr>
                <td>2.1 Project title</td>
                <td class="value">{{ sf.submission.project_title_display }}</td>
            </tr>
            <tr>
                <td>2.3 Eudract Nr:</td>
                <td class="value">{{ sf.eudract_number|default:'<i>nicht vorhanden</i>' }}</td>
            </tr>
            <tr>
                <td>2.4 Applicant/in:</td>
                <td class="value">{{ sf.submitter }}</td>
            </tr>
        </tbody>
    </table>
    {% if not forloop.last %}
        <div style="height:0.5cm;"></div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block mainitem %}
<h3>3. Explanatory Memorandum/Opinion/Communication</h3>
  <p>
    {{ notification.comments|linebreaksbr|default:"<i>nicht vorhanden</i>" }}
  </p>
{% endblock %}

{% block documents %}
    {% if documents %}
        <h3>Document</h3>
        {% include 'pdf/documents.html' %}
    {% endif %}
{% endblock %}

<p>
    <b>Message created on:</b> {{ notification.timestamp|date:'d.m.Y' }}
</p>
{% endblock %}
