{% extends 'notifications/pdf/base.html' %}

{% block typeoptions %}
    <h1>{{ notification.type.name }}</h1>
{% endblock %}

{% block mainitem %}
    {{ block.super }}

    <h3>4. Information about the Centre</h3>
    {% with investigator=notification.centerclosenotification.investigator %}
        <table class="full_width">
            <tbody>
                <tr>
                    <td style="width: 25%;">4.1 Trial Center</td>
                    <td class="value" style="width: 75%;">{{ investigator.organisation }}</td>
                </tr>
                <tr>
                    <td>4.2 Ethics Committee</td>
                    <td class="value">{{ investigator.ethics_commission.name }}</td>
                </tr>
                <tr>
                    <td>4.3 Investigator</td>
                    <td class="value">{{ investigator.contact }}</td>
                </tr>
                <tr>
                    <td>4.4 Date of closure</td>
                    <td class="value">{{ notification.centerclosenotification.close_date|date:'d.m.Y' }}</td>
                </tr>
            </tbody>
        </table>
    {% endwith %}
{% endblock %}
