{% extends "notifications/pdf/ReportNotificationForm.html" %}
{% load i18n %}

{% block formname %}Final Report Form / Termination of Study{% endblock %}
{% block typeoptions %}<h1>1. Completion of the study / final report</h1>{% endblock %}

{% block study_status %}
{% with notification.completionreportnotification as notification %}
    {% if notification.study_aborted %}
        The study was discontinued on
    {% else %}
        The study was completed on
    {% endif %}
    {{ notification.completion_date|date:'d.m.Y' }}
{% endwith %}
{% endblock %}
